<!-- landing.component.html -->
<div class="relative">  <!-- Add relative positioning to the outer container -->
  <app-banner class="absolute top-0 left-0 w-full z-50"></app-banner>  <!-- Position banner above everything -->
  
  <div class="min-h-screen bg-cover bg-center bg-no-repeat" style="background-image: url('assets/robot-cloud-background.jpeg');">
    <div class="min-h-screen bg-black bg-opacity-30 flex items-center">
      <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row items-center justify-between">
          <div class="md:w-1/2 text-white mb-8 md:mb-0">
            <h1 id="empowering-minds-through-machine-learning-and-big-data" class="text-4xl md:text-5xl font-bold mb-4">
              Empowering Minds Through Machine Learning and Big Data
            </h1>
            <p>
              Join us in exploring the limitless possibilities of machine learning and
              big data to drive innovation and make a real impact.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>