<!-- Back to Top button -->
<news-container [details]="'August 27th, 6:30 PM, at Klaus 1456'"></news-container>
<button 
  *ngIf="showBackToTop"
  (click)="scrollToTop()"
  class="fixed top-4 left-1/2 transform -translate-x-1/2 z-50 bg-blue-500 text-white px-4 py-2 rounded-full shadow-lg transition-opacity duration-300 flex items-center space-x-2"
>
  <span>Back to Top</span>
  <mat-icon>arrow_upward</mat-icon>
</button>

<main role="main" class="relative">
  <landing-container #landingContainer></landing-container>

  <div id="projects" class="section">
    <projects-container></projects-container>
  </div>

  <div id="benefits" class="section">
    <benefits-container></benefits-container>
  </div>

  <div id="faqs" class="section">
    <faq-container></faq-container>
  </div>

  <div id="contact" class="section">
    <contact-container></contact-container>
  </div>
</main>