<mat-card class="w-full !bg-indigo-900 !text-white" style="background-color: #1e3a8a !important;">
    <mat-card-content class="flex flex-col items-center py-3 px-4 space-y-1">
      <p class="text-center text-base !text-white">
        Kickoff meeting will be on Thursday, January 16th at 6:30PM at Klaus 1456
      </p>
      <p class="text-center text-base !text-white">
        Project Applications Due Sunday, January 19th at 11:59PM. Click on any project to apply!
      </p>
    </mat-card-content>
</mat-card>