<div class="min-h-screen bg-cover bg-center bg-no-repeat" style="background-image: url('../../../assets/robot-cloud-background.jpeg');">
    <div class="min-h-screen bg-black bg-opacity-30 flex items-center">
      <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row items-center justify-between">
          <div class="md:w-1/2 text-white mb-8 md:mb-0">
            <h1 id="empowering-minds-through-machine-learning-and-big-data" class="text-4xl md:text-5xl font-bold mb-4">
              More on Us
            </h1>
            <p>
                Big Data Big Impact (BDBI) at Georgia Tech's College of Computing facilitates diverse, full-stack, data- intensive projects students work together on over a year. BDBI aligns each project with social good themes based on U.N. sustainability goals.
              </p>
              <p>
                BDBI's projects focus on analysis and machine learning, platform and data infrastructure, and finally, data visualization. Some of BDBI's notable projects include Wildfire Risk Detection, Fake News Detection, Solar Forecasting, and MARTA route analysis.
            </p>
            <!-- <div class="space-x-4">
              <button>Learn More</button>
              <button>Sign Up</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>